.col {
    width: 310px;
}

.card-img-top {
    max-height: 150px;
}

.card-title {
    text-decoration: none;
    color: navy;
    font-weight: bold;
}

.card-text, .card-text-term {
    color: gray;
}

.card-text-term {
    font-size: small;
}

.d-none.d-md-block.col-md-1.wd-kanbas-navigation {
    margin: 0px;
    width: 85px;
}
.wd-kanbas-navigation {
    background-color: black;
    padding-left: 5px;
}

