.course-header {
    color: red;

}

.overflow-y-scroll.position-fixed.bottom-0.end-0 {
    padding: 10px;
    padding-top: 20px;
}

.chevron-right {
    color: gray;
    font-size: 20px;
}

.header-home {
    color: black;
    text-decoration: none;
}

.wd-header-column {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.wd-course-navigation-chevron {
    flex: 0 0 auto;
}

.wd-course-navigation-chevron {
    margin-left: auto;
    padding-top: 3px;
  }

.chevron-down {
    color: red;
    font-size: 100x;
    margin-right: 20px;
    size: 50px;
} 

.main-content {
    display: flex;
}